body {
  background-color: #F8C7C8;
  font-family: 'Mont', 'Barlow', sans-serif;
  font-weight: 500;
  color: #1D1C24;
}

.row.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.items > :last-child {
  border-radius: 25px;
  border: none;
  background-color: #8468F5;
  margin top: 5px;
  margin bottom: 5px;
  margin left: 10px;
  margin right: 50px;
}

.button.property {
  padding: 20px;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}